.git
!.git
.git/*
!.git/HEAD
!.git/refs
!.git/refs/**
!.git/packed-refs
.github
.idea
.vscode
.turbo
node_modules
**/node_modules
.next
**/.next
build
dist
out
coverage
.env
.env.docker
.env*.local
apps/web/public/uploads
