.gitattributes text eol=lf
package.json text eol=lf
apps/admin/src/**/*.ts text eol=lf
apps/admin/src/**/*.tsx text eol=lf
apps/mobile/app/**/*.tsx text eol=lf
apps/mobile/src/**/*.tsx text eol=lf
apps/web/src/**/*.ts text eol=lf
apps/web/src/**/*.tsx text eol=lf
docs/**/*.md text eol=lf
docs/**/*.json text eol=lf
packages/shared/src/**/*.ts text eol=lf
packages/db/prisma/**/*.prisma text eol=lf
packages/db/prisma/migrations/**/*.sql text eol=lf
scripts/**/*.ts text eol=lf
