.gitattributes text eol=lf
apps/admin/src/**/*.ts text eol=lf
apps/admin/src/**/*.tsx text eol=lf
docs/**/*.md text eol=lf
docs/generated/**/*.json text eol=lf
packages/shared/src/**/*.ts text eol=lf
